Repository Think-iT-Labs/edc-connector-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: support asset update
  src/controllers/management-controller.ts
  src/entities/asset.ts
  tests/controllers/management.test.ts
Due: prettier --write, eslint --fix

Bump EDC to 0.1.3
  .github/workflows/publish-test-connector-image.yml
  .github/workflows/pull-request-testing.yml
  README.md
  connector/build.gradle.kts
  package.json
  src/controllers/management-controller.ts
  src/entities/jsonld.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

add compacted to all the expanded entities
  src/controllers/management-controller.ts
  src/controllers/public-controller.ts
  src/entities/contract-definition.ts
  src/entities/jsonld.ts
  tests/controllers/management.test.ts
  tests/controllers/public.test.ts
Due: prettier --write, eslint --fix

setting compacted id at first
  src/entities/jsonld.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

PR remarks
  src/controllers/management-controller.ts
  src/entities/jsonld.ts
Due: prettier --write, eslint --fix

refactor!(asset): adapt to milestone 9 and major refactor
  go/common/sharedtypes/main.go
  go/examples/assetsCrud/main.go
  go/internal/connector_api_error.go
  go/service/assets/api_op_CreateAsset.go
  go/service/assets/api_op_CreateAsset_test.go
  go/service/assets/api_op_GetAssetDataAddress.go
  go/service/assets/api_op_GetAssetProperties.go
  go/service/assets/api_op_GetAsset_test.go
  go/service/assets/api_op_ListAssets.go
  go/service/assets/api_op_ListAssets_test.go
  go/service/assets/api_op_UpdateAsset.go
  go/service/assets/api_op_UpdateAssetDataAddress.go
  go/service/assets/api_op_UpdateAssetProperties.go
  go/service/assets/api_op_UpdateAsset_test.go
  go/service/assets/asset.go
  go/service/assets/data_address.go
  go/service/assets/go.sum
  go/service/assets/types.go
Due: none

chore: move sharedtypes package to internal
  go/internal/sharedtypes/main.go
  go/service/assets/api_op_CreateAsset.go
  go/service/assets/api_op_GetAssetDataAddress.go
  go/service/assets/api_op_UpdateAssetProperties.go
Due: none

refactor(assets): fix tests + minor refactors
  go/examples/assetsCrud/main.go
  go/service/assets/api_op_CreateAsset.go
  go/service/assets/api_op_CreateAsset_test.go
  go/service/assets/api_op_GetAssetDataAddress.go
  go/service/assets/api_op_GetAssetDataAddress_test.go
  go/service/assets/api_op_GetAssetProperties_test.go
  go/service/assets/api_op_GetAsset_test.go
  go/service/assets/api_op_ListAssets_test.go
  go/service/assets/api_op_UpdateAssetDataAddress.go
  go/service/assets/api_op_UpdateAssetDataAddress_test.go
  go/service/assets/api_op_UpdateAssetProperties.go
  go/service/assets/api_op_UpdateAssetProperties_test.go
  go/service/assets/asset.go
  go/service/assets/data_address.go
  go/service/assets/helpers.go
Due: none

build(deps): update connector conf and docker compose to v0.1.3
  conf/consumer-connector.config/configuration.properties
  conf/provider-connector.config/configuration.properties
  connector/build.gradle.kts
Due: none

fix(assets): Update examples protocol address
  go/examples/assetsCrud/main.go
Due: none

fix(conf): fix typo in provider addresses config
  conf/consumer-connector.config/addresses.json
  conf/provider-connector.config/addresses.json
Due: prettier --write

feat(go): fix assets unit test
  go/service/assets/api_op_CreateAsset.go
  go/service/assets/api_op_CreateAsset_test.go
  go/service/assets/api_op_GetAssetProperties_test.go
  go/service/assets/api_op_ListAssets_test.go
  go/service/assets/api_op_UpdateAssetProperties_test.go
  go/service/assets/asset.go
Due: none

Add further documentation
  src/entities/jsonld.ts
Due: prettier --write, eslint --fix

Bump EDC to 0.1.3 (#45)
  .github/workflows/publish-test-connector-image.yml
  .github/workflows/pull-request-testing.yml
  README.md
  connector/build.gradle.kts
  package.json
  src/controllers/management-controller.ts
  src/controllers/public-controller.ts
  src/entities/contract-definition.ts
  src/entities/jsonld.ts
  tests/controllers/management.test.ts
  tests/controllers/public.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

feat: upgrade edc to 0.2.0
  .github/workflows/pull-request-testing.yml
  connector/build.gradle.kts
Due: none

adapt to new /v2/dataplanes endpoint
  src/controllers/management-controller.ts
  src/entities/dataplane.ts
  src/entities/jsonld.ts
  tests/controllers/management.test.ts
Due: prettier --write, eslint --fix

feat: upgrade edc to 0.2.0 (#49)
  .github/workflows/pull-request-testing.yml
  connector/build.gradle.kts
  src/controllers/management-controller.ts
  src/entities/dataplane.ts
  src/entities/jsonld.ts
  tests/controllers/management.test.ts
Due: prettier --write, eslint --fix

build: configure dependabot
  .github/dependabot.yml
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
  package.json
Due: prettier --write

build: configure dependabot (#50)
  .github/dependabot.yml
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
  package.json
Due: prettier --write

Upgrade gradle wrapper to 8.2.1
  connector/build.gradle.kts
  connector/gradle/wrapper/gradle-wrapper.jar
  connector/gradle/wrapper/gradle-wrapper.properties
  connector/gradlew
  connector/gradlew.bat
Due: none

feat: use v3 asset endpoints and drop deprecated v2
  src/controllers/management-controller.ts
  src/entities/asset.ts
  src/entities/index.ts
  tests/controllers/management.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

feat: support PUT method on assets
  src/controllers/management-controller.ts
  tests/controllers/management.test.ts
Due: prettier --write, eslint --fix

feat: use v3 asset endpoints and drop deprecated v2 (#58)
  src/controllers/management-controller.ts
  src/entities/asset.ts
  src/entities/index.ts
  tests/controllers/management.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

feat: update a contract definition
  src/controllers/management-controller.ts
  tests/controllers/management.test.ts
Due: prettier --write, eslint --fix

feat: update a contract definition (#65)
  src/controllers/management-controller.ts
  tests/controllers/management.test.ts
Due: prettier --write, eslint --fix

refactor: group controllers under a facade management class
  src/client.ts
  src/controllers/index.ts
  src/controllers/management-controller.ts
  src/controllers/management-controllers/asset-controller.ts
  src/controllers/management-controllers/contract-agreement-controller.ts
  src/controllers/management-controllers/contract-defintion-controller.ts
  src/controllers/management-controllers/contract-negotiation-controller.ts
  src/controllers/management-controllers/dataplane-controller.ts
  src/controllers/management-controllers/index.ts
  src/controllers/management-controllers/policy-defintion-controller.ts
  src/controllers/management-controllers/transfer-process-controller.ts
  src/facades/management.ts
  tests/controllers/management.test.ts
  tests/controllers/public.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

chore: rename class getters
  src/controllers/management-controllers/catalog-controller.ts
  src/controllers/management-controllers/contract-defintion-controller.ts
  src/controllers/management-controllers/index.ts
  src/facades/management.ts
  tests/controllers/management.test.ts
  tests/controllers/public.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

refactor: split management tests
  tests/controllers/management-tests/assets.test.ts
  tests/controllers/management-tests/catalog.test.ts
  tests/controllers/management-tests/contract-agreements.test.ts
  tests/controllers/management-tests/contract-definitions.test.ts
  tests/controllers/management-tests/contract-negotiations.test.ts
  tests/controllers/management-tests/policy-definitions.test.ts
  tests/controllers/management-tests/transfer-processes.test.ts
  tests/controllers/management.test.ts
Due: prettier --write, eslint --fix

fix: fix rebase conflicts
  src/controllers/management-controllers/contract-defintion-controller.ts
  tests/controllers/management-tests/assets.test.ts
  tests/controllers/management-tests/catalog.test.ts
  tests/controllers/management-tests/contract-definitions.test.ts
Due: prettier --write, eslint --fix

refactor: split controllers (#66)
  src/client.ts
  src/controllers/index.ts
  src/controllers/management-controller.ts
  src/controllers/management-controllers/asset-controller.ts
  src/controllers/management-controllers/catalog-controller.ts
  src/controllers/management-controllers/contract-agreement-controller.ts
  src/controllers/management-controllers/contract-defintion-controller.ts
  src/controllers/management-controllers/contract-negotiation-controller.ts
  src/controllers/management-controllers/dataplane-controller.ts
  src/controllers/management-controllers/index.ts
  src/controllers/management-controllers/policy-defintion-controller.ts
  src/controllers/management-controllers/transfer-process-controller.ts
  src/facades/management.ts
  tests/controllers/management-tests/assets.test.ts
  tests/controllers/management-tests/catalog.test.ts
  tests/controllers/management-tests/contract-agreements.test.ts
  tests/controllers/management-tests/contract-definitions.test.ts
  tests/controllers/management-tests/contract-negotiations.test.ts
  tests/controllers/management-tests/policy-definitions.test.ts
  tests/controllers/management-tests/transfer-processes.test.ts
  tests/controllers/management.test.ts
  tests/controllers/public.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

Prepare release
  README.md
  package.json
Due: prettier --write

feat/go: migrate assets to connector version 0.1.0 (#38)
  conf/consumer-connector.config/addresses.json
  conf/consumer-connector.config/configuration.properties
  conf/provider-connector.config/addresses.json
  conf/provider-connector.config/configuration.properties
  connector/build.gradle.kts
  go/examples/assetsCrud/main.go
  go/internal/connector_api_error.go
  go/internal/sharedtypes/main.go
  go/service/assets/api_op_CreateAsset.go
  go/service/assets/api_op_CreateAsset_test.go
  go/service/assets/api_op_GetAssetDataAddress.go
  go/service/assets/api_op_GetAssetDataAddress_test.go
  go/service/assets/api_op_GetAssetProperties.go
  go/service/assets/api_op_GetAssetProperties_test.go
  go/service/assets/api_op_GetAsset_test.go
  go/service/assets/api_op_ListAssets.go
  go/service/assets/api_op_ListAssets_test.go
  go/service/assets/api_op_UpdateAsset.go
  go/service/assets/api_op_UpdateAssetDataAddress.go
  go/service/assets/api_op_UpdateAssetDataAddress_test.go
  go/service/assets/api_op_UpdateAssetProperties.go
  go/service/assets/api_op_UpdateAssetProperties_test.go
  go/service/assets/api_op_UpdateAsset_test.go
  go/service/assets/asset.go
  go/service/assets/data_address.go
  go/service/assets/go.sum
  go/service/assets/helpers.go
  go/service/assets/types.go
Due: prettier --write

feat: update contract negotiation controller and fix failing test
  src/controllers/management-controllers/contract-negotiation-controller.ts
  src/controllers/management-controllers/transfer-process-controller.ts
  src/entities/transfer-process.ts
  tests/controllers/management-tests/contract-negotiations.test.ts
  tests/controllers/management-tests/transfer-processes.test.ts
Due: prettier --write, eslint --fix

feat: get transfer process state & clean up controller file
  src/controllers/management-controllers/transfer-process-controller.ts
  src/entities/transfer-process.ts
  tests/controllers/management-tests/transfer-processes.test.ts
Due: prettier --write, eslint --fix

fix: update transfer process states and add reason to terminate
  src/controllers/management-controllers/contract-negotiation-controller.ts
  src/entities/transfer-process.ts
  tests/controllers/management-tests/contract-negotiations.test.ts
Due: prettier --write, eslint --fix

Chore: update old endpoints (#67)
  src/controllers/management-controllers/contract-negotiation-controller.ts
  src/controllers/management-controllers/transfer-process-controller.ts
  src/entities/transfer-process.ts
  tests/controllers/management-tests/contract-negotiations.test.ts
  tests/controllers/management-tests/transfer-processes.test.ts
Due: prettier --write, eslint --fix

feat: make context optional argument
  src/client.ts
  src/context.ts
  src/controllers/management-controllers/asset-controller.ts
  src/controllers/management-controllers/catalog-controller.ts
  src/controllers/management-controllers/contract-agreement-controller.ts
  src/controllers/management-controllers/contract-defintion-controller.ts
  src/controllers/management-controllers/contract-negotiation-controller.ts
  src/controllers/management-controllers/dataplane-controller.ts
  src/controllers/management-controllers/policy-defintion-controller.ts
  src/controllers/management-controllers/transfer-process-controller.ts
  src/controllers/observability-controller.ts
  src/controllers/public-controller.ts
  src/entities/addresses.ts
  src/facades/management.ts
  tests/controllers/management-tests/assets.test.ts
  tests/controllers/management-tests/catalog.test.ts
  tests/controllers/management-tests/contract-agreements.test.ts
  tests/controllers/management-tests/contract-definitions.test.ts
  tests/controllers/management-tests/contract-negotiations.test.ts
  tests/controllers/management-tests/policy-definitions.test.ts
  tests/controllers/management-tests/transfer-processes.test.ts
  tests/controllers/observability.test.ts
  tests/controllers/public.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

Fix test
  tests/controllers/public.test.ts
Due: prettier --write, eslint --fix

Avoid calling consumer data plane
  tests/controllers/public.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: ./**/*.{js,jsx,ts,tsx,json,md}
  eslint --fix: any of: ./**/*.{js,jsx,ts,tsx}
