Repository Think-iT-Labs/edc-connector-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "./**/*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "./**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ]
}

Feat/go add query to all listings (#31)
  go/common/apivalidator/types.go
  go/common/apivalidator/validate_query.go
  go/common/apivalidator/validate_query_test.go
  go/examples/assetsCrud/go.mod
  go/examples/assetsCrud/main.go
  go/examples/contractDefinitionsCrud/main.go
  go/examples/policiesCrud/main.go
  go/go.mod
  go/service/assets/api_op_ListAssets.go
  go/service/assets/api_op_ListAssets_test.go
  go/service/contractdefinition/api_op_DeleteContractDefinition.go
  go/service/contractdefinition/api_op_ListContractDefinitions.go
  go/service/policies/api_op_ListPolicies.go
  go/service/policies/api_op_ListPolicies_test.go
Due: none

build(deps): upgrade EDC to milestone-9
  .github/workflows/publish-test-connector-image.yml
  .gitignore
  README.md
  conf/consumer-connector.config/addresses.json
  conf/consumer-connector.config/configuration.properties
  conf/provider-connector.config/addresses.json
  conf/provider-connector.config/configuration.properties
  connector/build.gradle.kts
  connector/gradle/wrapper/gradle-wrapper.jar
  connector/gradle/wrapper/gradle-wrapper.properties
  connector/gradlew
  connector/gradlew.bat
  docker-compose.yml
  tests/controllers/management.test.ts
  tests/controllers/observability.test.ts
  tests/controllers/public.test.ts
Due: prettier --write, eslint --fix

build(deps): upgrade EDC to milestone-9
  .github/workflows/publish-test-connector-image.yml
  .gitignore
  README.md
  conf/consumer-connector.config/addresses.json
  conf/consumer-connector.config/configuration.properties
  conf/provider-connector.config/addresses.json
  conf/provider-connector.config/configuration.properties
  connector/build.gradle.kts
  connector/gradle/wrapper/gradle-wrapper.jar
  connector/gradle/wrapper/gradle-wrapper.properties
  connector/gradlew
  connector/gradlew.bat
  docker-compose.yml
  go/examples/contractDefinitionsCrud/main.go
  tests/controllers/management.test.ts
  tests/controllers/observability.test.ts
  tests/controllers/public.test.ts
Due: prettier --write, eslint --fix

feat/go: migrate edc contract definition to milestone 9
  go/common/apivalidator/types.go
  go/coverage.out
  go/go.work.sum
  go/internal/sdktypes/context.go
  go/service/contractdefinition/api_op_CreateContractDefinition.go
  go/service/contractdefinition/api_op_CreateContractDefinition_test.go
  go/service/contractdefinition/api_op_GetContractDefinition.go
  go/service/contractdefinition/api_op_GetContractDefinition_test.go
  go/service/contractdefinition/api_op_ListContractDefinitions_test.go
  go/service/contractdefinition/api_op_UpdateContractDefinition_test.go
  go/service/contractdefinition/types.go
Due: none

Upgrade connector to 0.1.0
  .github/workflows/publish-test-connector-image.yml
  README.md
  conf/consumer-connector.config/configuration.properties
  conf/provider-connector.config/configuration.properties
  connector/build.gradle.kts
Due: prettier --write

Fix public.test.ts
  package-lock.json
  package.json
  src/controllers/management-controller.ts
  src/entities/asset.ts
  src/entities/catalog.ts
  src/entities/contract-agreement.ts
  src/entities/contract-definition.ts
  src/entities/contract-negotiation.ts
  src/entities/data-address.ts
  src/entities/index.ts
  src/entities/jsonld.ts
  src/entities/policy.ts
  tests/controllers/management.test.ts
  tests/controllers/public.test.ts
  tests/test-utils.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: update old asset entities specs & add new context
  src/entities/asset.ts
  src/entities/context.ts
  src/entities/data-address.ts
  src/entities/index.ts
Due: prettier --write, eslint --fix

chore: use new connector entities in management controllers and utils
  src/controllers/management-controller.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

test: adjust asset tests
  tests/controllers/management.test.ts
Due: prettier --write, eslint --fix

feat: refactor create asset api call
  go/coverage.out
  go/go.work.sum
  go/internal/invoke_operation_options.go
  go/service/assets/api_client.go
  go/service/assets/api_op_CreateAsset.go
Due: none

feat: refactor delete asset api call
  go/coverage.out
  go/internal/invoke_operation_options.go
  go/service/assets/api_client.go
  go/service/assets/api_op_CreateAsset.go
  go/service/assets/api_op_DeleteAsset.go
Due: none

feat: refactor get asset api call
  go/coverage.out
  go/service/assets/api_op_GetAsset.go
Due: none

feat: refactor update asset api call
  go/coverage.out
  go/service/assets/api_op_UpdateAsset.go
Due: none

feat: refactor list assets api call
  go/coverage.out
  go/service/assets/api_op_ListAssets.go
Due: none

feat: refactor create policy
  go/service/policies/api_client.go
  go/service/policies/api_op_CreatePolicy.go
Due: none

feat: refactor delete policy
  go/coverage.out
  go/service/policies/api_op_DeletePolicy.go
Due: none

feat: refactor get policy
  go/coverage.out
  go/service/policies/api_op_GetPolicy.go
Due: none

feat: refactor list policies
  go/common/apivalidator/types.go
  go/common/apivalidator/validate_query.go
  go/common/apivalidator/validate_query_test.go
  go/coverage.out
  go/examples/contractDefinitionsCrud/main.go
  go/examples/policiesCrud/main.go
  go/service/policies/api_op_CreatePolicy.go
  go/service/policies/api_op_ListPolicies.go
Due: none

feat: refactor delete cd
  go/coverage.out
  go/service/assets/api_client.go
  go/service/contractdefinition/api_client.go
  go/service/contractdefinition/api_op_CreateContractDefinition.go
  go/service/contractdefinition/api_op_DeleteContractDefinition.go
  go/service/contractdefinition/api_op_GetContractDefinition_test.go
  go/service/policies/api_client.go
Due: none

feat: refactor get cd
  go/coverage.out
  go/service/contractdefinition/api_op_GetContractDefinition.go
Due: none

feat: refactor list cd
  go/coverage.out
  go/service/contractdefinition/api_op_ListContractDefinitions.go
Due: none

feat: refactor update cd
  go/coverage.out
  go/service/contractdefinition/api_op_UpdateContractDefinition.go
Due: none

feat: fix get contract definition
  go/coverage.out
  go/examples/contractDefinitionsCrud/main.go
  go/service/contractdefinition/api_op_GetContractDefinition.go
  go/service/contractdefinition/api_op_GetContractDefinition_test.go
Due: none

feat: externalize HTTP Calls to HTTP client
  go/coverage.out
  go/edc/transport/http/client.go
  go/service/assets/api_client.go
  go/service/assets/api_op_CreateAsset.go
  go/service/assets/api_op_DeleteAsset.go
  go/service/assets/api_op_GetAsset.go
  go/service/assets/api_op_ListAssets.go
  go/service/assets/api_op_UpdateAsset.go
  go/service/assets/types.go
  go/service/contractdefinition/api_client.go
  go/service/contractdefinition/api_op_CreateContractDefinition.go
  go/service/contractdefinition/api_op_DeleteContractDefinition.go
  go/service/contractdefinition/api_op_GetContractDefinition.go
  go/service/contractdefinition/api_op_ListContractDefinitions.go
  go/service/contractdefinition/api_op_UpdateContractDefinition.go
  go/service/policies/api_client.go
  go/service/policies/api_op_CreatePolicy.go
  go/service/policies/api_op_DeletePolicy.go
  go/service/policies/api_op_GetPolicy.go
  go/service/policies/api_op_ListPolicies.go
Due: none

Feat/go refactor api calls (#39)
  go/common/apivalidator/types.go
  go/common/apivalidator/validate_query.go
  go/common/apivalidator/validate_query_test.go
  go/coverage.out
  go/edc/transport/http/client.go
  go/examples/contractDefinitionsCrud/main.go
  go/examples/policiesCrud/main.go
  go/go.work.sum
  go/internal/invoke_operation_options.go
  go/service/assets/api_client.go
  go/service/assets/api_op_CreateAsset.go
  go/service/assets/api_op_DeleteAsset.go
  go/service/assets/api_op_GetAsset.go
  go/service/assets/api_op_ListAssets.go
  go/service/assets/api_op_UpdateAsset.go
  go/service/assets/types.go
  go/service/contractdefinition/api_client.go
  go/service/contractdefinition/api_op_CreateContractDefinition.go
  go/service/contractdefinition/api_op_DeleteContractDefinition.go
  go/service/contractdefinition/api_op_GetContractDefinition.go
  go/service/contractdefinition/api_op_ListContractDefinitions.go
  go/service/contractdefinition/api_op_UpdateContractDefinition.go
  go/service/policies/api_client.go
  go/service/policies/api_op_CreatePolicy.go
  go/service/policies/api_op_DeletePolicy.go
  go/service/policies/api_op_GetPolicy.go
  go/service/policies/api_op_ListPolicies.go
Due: none

chore: update entities
  src/entities/asset.ts
  src/entities/catalog.ts
  src/entities/context.ts
  src/entities/contract-definition.ts
  src/entities/data-address.ts
Due: prettier --write, eslint --fix

fix: fix contract, policy and asset failing tests
  src/controllers/management-controller.ts
  src/entities/contract-definition.ts
  tests/controllers/management.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: update addresses props in connector config files
  conf/consumer-connector.config/addresses.json
  conf/provider-connector.config/addresses.json
Due: prettier --write

refactor: Standardize request body objects and update entities
  src/controllers/management-controller.ts
  src/entities/asset.ts
  src/entities/catalog.ts
  src/entities/context.ts
  src/entities/contract-definition.ts
Due: prettier --write, eslint --fix

fix: update catalog and contract negotiations tests
  tests/controllers/management.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

Fix CI
  .github/workflows/publish-test-connector-image.yml
  .github/workflows/pull-request-testing.yml
  conf/consumer-connector.config/configuration.properties
  conf/provider-connector.config/configuration.properties
  connector/build.gradle.kts
  jest.config.ts
  package.json
  src/controllers/management-controller.ts
  src/entities/asset.ts
  src/entities/catalog.ts
  src/entities/contract-agreement.ts
  src/entities/contract-negotiation.ts
  src/entities/contract-offer.ts
  src/entities/id-response.ts
  src/entities/index.ts
  src/entities/jsonld.ts
  src/entities/policy.ts
  src/entities/transfer-process.ts
  src/error.ts
  src/inner.ts
  tests/controllers/management.test.ts
  tests/controllers/public.test.ts
  tests/test-utils.ts
  yarn.lock
Due: prettier --write, eslint --fix

Feat: update asset endpoints (#36)
  .github/workflows/publish-test-connector-image.yml
  .github/workflows/pull-request-testing.yml
  conf/consumer-connector.config/addresses.json
  conf/consumer-connector.config/configuration.properties
  conf/provider-connector.config/addresses.json
  conf/provider-connector.config/configuration.properties
  connector/build.gradle.kts
  jest.config.ts
  package.json
  src/controllers/management-controller.ts
  src/entities/asset.ts
  src/entities/catalog.ts
  src/entities/context.ts
  src/entities/contract-agreement.ts
  src/entities/contract-definition.ts
  src/entities/contract-negotiation.ts
  src/entities/contract-offer.ts
  src/entities/data-address.ts
  src/entities/id-response.ts
  src/entities/index.ts
  src/entities/jsonld.ts
  src/entities/policy.ts
  src/entities/transfer-process.ts
  src/error.ts
  src/inner.ts
  tests/controllers/management.test.ts
  tests/controllers/public.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

refactor: remove ternary operator
  src/controllers/management-controller.ts
Due: prettier --write, eslint --fix

add missing providerId field
  src/entities/contract-negotiation.ts
  tests/controllers/management.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

Print logs
  .github/workflows/pull-request-testing.yml
  jest.config.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

add logs
  .github/workflows/publish-test-connector-image.yml
  README.md
  connector/build.gradle.kts
  jest.config.ts
  package-lock.json
  src/controllers/management-controller.ts
  src/entities/catalog.ts
  tests/controllers/management.test.ts
Due: prettier --write, eslint --fix

PR remarks
  .github/workflows/pull-request-testing.yml
  package.json
  src/controllers/management-controller.ts
  src/entities/asset.ts
  src/entities/context.ts
  tests/controllers/public.test.ts
  tests/test-utils.ts
  yarn.lock
Due: prettier --write, eslint --fix

Refactor
  src/entities/catalog.ts
  src/entities/contract-agreement.ts
  src/entities/contract-negotiation.ts
  src/entities/id-response.ts
  src/entities/jsonld.ts
  src/entities/policy.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

build(deps): upgrade EDC to 0.1.2 (#35)
  .github/workflows/publish-test-connector-image.yml
  .github/workflows/pull-request-testing.yml
  .gitignore
  README.md
  conf/consumer-connector.config/addresses.json
  conf/consumer-connector.config/configuration.properties
  conf/provider-connector.config/addresses.json
  conf/provider-connector.config/configuration.properties
  connector/build.gradle.kts
  connector/gradle/wrapper/gradle-wrapper.jar
  connector/gradle/wrapper/gradle-wrapper.properties
  connector/gradlew
  connector/gradlew.bat
  docker-compose.yml
  jest.config.ts
  package.json
  src/controllers/management-controller.ts
  src/entities/asset.ts
  src/entities/catalog.ts
  src/entities/context.ts
  src/entities/contract-agreement.ts
  src/entities/contract-definition.ts
  src/entities/contract-negotiation.ts
  src/entities/contract-offer.ts
  src/entities/data-address.ts
  src/entities/id-response.ts
  src/entities/index.ts
  src/entities/jsonld.ts
  src/entities/policy.ts
  src/entities/transfer-process.ts
  src/error.ts
  src/inner.ts
  tests/controllers/management.test.ts
  tests/controllers/observability.test.ts
  tests/controllers/public.test.ts
  tests/test-utils.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat: support asset data address update
  src/controllers/management-controller.ts
  tests/controllers/management.test.ts
Due: prettier --write, eslint --fix
