Repository Think-iT-Labs/edc-connector-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: remove assetId from Offer
  src/entities/catalog.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

feat: remove assetId from Offer (#160)
  src/entities/catalog.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

Prepare release
  package.json
Due: prettier --write

build(deps): bump EDC to 0.5.0
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
  src/entities/jsonld.ts
  tests/controllers/management-tests/catalog.test.ts
  tests/controllers/management-tests/contract-negotiations.test.ts
  tests/controllers/management-tests/transfer-processes.test.ts
Due: prettier --write, eslint --fix

build(deps): bump EDC to 0.5.0 (#177)
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
  src/entities/jsonld.ts
  tests/controllers/management-tests/catalog.test.ts
  tests/controllers/management-tests/contract-negotiations.test.ts
  tests/controllers/management-tests/transfer-processes.test.ts
Due: prettier --write, eslint --fix

Prepare 0.3.0 release
  .github/release.yml
  package.json
Due: prettier --write

adapt
  src/controllers/management-controllers/policy-defintion-controller.ts
  src/entities/contract-negotiation.ts
  src/entities/policy-definition.ts
  src/entities/policy/policy.ts
  src/entities/transfer-process.ts
  tests/controllers/management-tests/catalog.test.ts
  tests/controllers/management-tests/policy-definitions.test.ts
  tests/controllers/management-tests/transfer-processes.test.ts
  tests/controllers/public.test.ts
  tests/test-utils.ts
  yarn.lock
Due: prettier --write, eslint --fix

Prepare 0.4.0 release
  README.md
  package.json
Due: prettier --write

update dependency matrix
  README.md
Due: prettier --write

feat: add Edrs controller
  README.md
  package.json
  src/controllers/management-controllers/edr-controller.ts
  src/controllers/management-controllers/index.ts
  src/entities/edr.ts
  src/entities/index.ts
  src/entities/jsonld.ts
  src/facades/management.ts
  tests/controllers/management-tests/edrs.test.ts
  tests/management-api.yaml
  yarn.lock
Due: prettier --write, eslint --fix

feat: add Edrs controller (#215)
  README.md
  package.json
  src/controllers/management-controllers/edr-controller.ts
  src/controllers/management-controllers/index.ts
  src/entities/edr.ts
  src/entities/index.ts
  src/entities/jsonld.ts
  src/facades/management.ts
  tests/controllers/management-tests/edrs.test.ts
  tests/management-api.yaml
  yarn.lock
Due: prettier --write, eslint --fix

feat(tests): automatically download openapi specs on preinstall
  package.json
  postinstall/edc-openapi.js
  tests/controllers/management-tests/edrs.test.ts
  tests/management-api.yaml
  yarn.lock
Due: prettier --write, eslint --fix

feat(tests): automatically download openapi specs on preinstall (#218)
  package.json
  postinstall/edc-openapi.js
  tests/controllers/management-tests/edrs.test.ts
  tests/management-api.yaml
  yarn.lock
Due: prettier --write, eslint --fix

build: release workflow
  .github/workflows/release.yml
  README.md
Due: prettier --write

build: release workflow
  .github/actions/npm-publish/action.yml
  .github/workflows/npm-publish.yml
  .github/workflows/publish-npm.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  README.md
Due: prettier --write

Prepare release 0.4.1
  package.json
Due: prettier --write

build: release workflow
  .github/workflows/release.yml
  package.json
Due: prettier --write

build: fix release workflow
  .github/actions/npm-publish/action.yml
  .github/workflows/publish-npm.yml
  .github/workflows/release.yml
Due: none

refactor: switch asset tests to prism
  package.json
  tests/controllers/management-tests/assets.test.ts
  tests/inner.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

refactor: switch asset tests to prism (#221)
  package.json
  tests/controllers/management-tests/assets.test.ts
  tests/inner.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

build: Bump jest to 29.7.0
  package.json
  tests/controllers/management-tests/edrs.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

build: Bump jest to 29.7.0 (#222)
  package.json
  tests/controllers/management-tests/edrs.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

refactor: switch PolicyDefinition tests to Prism
  tests/controllers/management-tests/assets.test.ts
  tests/controllers/management-tests/edrs.test.ts
  tests/controllers/management-tests/policy-definitions.test.ts
  tests/e2e.test.ts
Due: prettier --write, eslint --fix

fix: move openapi download to pretest phase
  package.json
  pretest/edc-openapi.js
Due: prettier --write, eslint --fix

fix: move openapi download to pretest phase (#227)
  package.json
  pretest/edc-openapi.js
Due: prettier --write, eslint --fix

Prepare release 0.4.2
  package.json
Due: prettier --write

build: checkout main last commit when publishing
  .github/workflows/publish-npm.yml
Due: none

build: checkout main last commit when publishing (#231)
  .github/workflows/publish-npm.yml
Due: none

feat: implement secrets endpoint
  pretest/edc-openapi.js
  src/controllers/management-controllers/index.ts
  src/controllers/management-controllers/secret-controller.ts
  src/entities/index.ts
  src/entities/jsonld.ts
  src/entities/secret.ts
  src/facades/management.ts
  tests/controllers/management-tests/secrets.test.ts
Due: prettier --write, eslint --fix

feat: implement secrets endpoint (#232)
  pretest/edc-openapi.js
  src/controllers/management-controllers/index.ts
  src/controllers/management-controllers/secret-controller.ts
  src/entities/index.ts
  src/entities/jsonld.ts
  src/entities/secret.ts
  src/facades/management.ts
  tests/controllers/management-tests/secrets.test.ts
Due: prettier --write, eslint --fix

build: fix publish workflow
  .github/workflows/publish-npm.yml
Due: none

Prepare release 0.4.3
  package.json
Due: prettier --write

feat: a couple of middleware implementation
  .gitignore
  src/client.ts
  tests/middleware-prototype.test.ts
  tests/middleware-proxy.test.ts
  tests/middleware-utils.ts
Due: prettier --write, eslint --fix

feat: implement alternative version of prototype extensibility
  tests/middleware-prototype.test.ts
  tests/middleware-prototype2.test.ts
  tests/middleware-utils.ts
Due: prettier --write, eslint --fix

feat: introduce EdcControlelr class
  src/controllers/observability-controller.ts
  src/controllers/public-controller.ts
  src/edc-controller.ts
  src/facades/management.ts
  src/index.ts
Due: prettier --write, eslint --fix

feat: implement extensibility through prototype
  package.json
  src/client.ts
  yarn.lock
Due: prettier --write, eslint --fix

tests: add tests for middleware extension
  src/client.ts
  tests/edc-client.test.ts
Due: prettier --write, eslint --fix

chore: remove exploratory tests
  tests/middleware-prototype.test.ts
  tests/middleware-prototype2.test.ts
  tests/middleware-proxy.test.ts
  tests/middleware-utils.ts
Due: prettier --write, eslint --fix

feat: allow client to be extended with custom controllers (#240)
  .gitignore
  package.json
  src/client.ts
  src/controllers/observability-controller.ts
  src/controllers/public-controller.ts
  src/edc-controller.ts
  src/facades/management.ts
  src/index.ts
  tests/edc-client.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: ./**/*.{js,jsx,ts,tsx,json,md}
  eslint --fix: any of: ./**/*.{js,jsx,ts,tsx}
