Repository Think-iT-Labs/edc-connector-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "./**/*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "./**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ]
}

Release: upgrade 0.9.1-beta.1 to production (#518)
  .DS_Store
  .gitignore
  package-lock.json
  package.json
Due: prettier --write

Prepare release 0.9.1
  package.json
Due: prettier --write

chore: replace npm token with npm trusted publisher in github action
  .github/workflows/publish-npm.yml
Due: none

chore: replace npm token with npm trusted publisher in github action (#519)
  .github/workflows/publish-npm.yml
Due: none

Revert "Prepare release 0.9.1"
  package.json
Due: prettier --write

Revert "Prepare release 0.9.1" (#520)
  package.json
Due: prettier --write

fix: pass npm permissions correctly
  .github/workflows/publish-npm.yml
  .github/workflows/release.yml
  package.json
Due: prettier --write

fix: pass npm permissions correctly (#521)
  .github/workflows/publish-npm.yml
  .github/workflows/release.yml
  package.json
Due: prettier --write

fix: use npm registry url
  .github/workflows/publish-npm.yml
  package.json
Due: prettier --write

fix: use npm registry url (#522)
  .github/workflows/publish-npm.yml
  package.json
Due: prettier --write

fix: move npm registr to node action
  .github/workflows/publish-npm.yml
Due: none

fix: move npm registr to node action (#524)
  .github/workflows/publish-npm.yml
Due: none

chore: bump node to lts 24
  .github/workflows/publish-npm.yml
  .github/workflows/test.yml
  package.json
  yarn.lock
Due: prettier --write

chore: bump node to lts 24 (#525)
  .github/workflows/publish-npm.yml
  .github/workflows/test.yml
  package.json
  yarn.lock
Due: prettier --write

fix: add counterPartyId for in CatalogRequest, NegotiationRequest and TransferRequest
  src/entities/catalog.ts
  src/entities/contract-negotiation.ts
  src/entities/transfer-process.ts
Due: prettier --write, eslint --fix

fix: DatasetRequest
  src/entities/catalog.ts
Due: prettier --write, eslint --fix

fix: update tests with counterPartyId
  tests/controllers/management-tests/catalog.test.ts
  tests/controllers/management-tests/transfer-processes.test.ts
  tests/controllers/public.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

fix: add counterPartyId for in CatalogRequest, NegotiationRequest and… (#531)
  src/entities/catalog.ts
  src/entities/contract-negotiation.ts
  src/entities/transfer-process.ts
  tests/controllers/management-tests/catalog.test.ts
  tests/controllers/management-tests/transfer-processes.test.ts
  tests/controllers/public.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

build: bump EDC to 0.15.1
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
  connector/src/main/java/io/thinkit/client/extension/ParticipantsResolverExtension.java
  tests/edc-client.test.ts
Due: prettier --write, eslint --fix

remove public endpoint, update dspace namespace iri
  README.md
  conf/consumer-connector.config/addresses.json
  conf/consumer-connector.config/configuration.properties
  conf/provider-connector.config/addresses.json
  conf/provider-connector.config/configuration.properties
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
  connector/src/main/java/io/thinkit/client/extension/DemoTargetNodeDirectory.java
  connector/src/main/java/io/thinkit/client/extension/EndpointGeneratorFunctionExtension.java
  connector/src/main/resources/META-INF/services/org.eclipse.edc.spi.system.ServiceExtension
  docker-compose.yml
  src/client.ts
  src/context.ts
  src/controllers/index.ts
  src/controllers/public-controller.ts
  src/entities/addresses.ts
  src/entities/catalog.ts
  src/entities/jsonld.ts
  tests/controllers/public.test.ts
  tests/edc-client.test.ts
Due: prettier --write, eslint --fix

Prepare release 0.9.2
  package.json
Due: prettier --write

build: bump EDC to 0.15.1 (#532)
  README.md
  conf/consumer-connector.config/addresses.json
  conf/consumer-connector.config/configuration.properties
  conf/provider-connector.config/addresses.json
  conf/provider-connector.config/configuration.properties
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
  connector/src/main/java/io/thinkit/client/extension/DemoTargetNodeDirectory.java
  connector/src/main/java/io/thinkit/client/extension/EndpointGeneratorFunctionExtension.java
  connector/src/main/java/io/thinkit/client/extension/ParticipantsResolverExtension.java
  connector/src/main/resources/META-INF/services/org.eclipse.edc.spi.system.ServiceExtension
  docker-compose.yml
  src/client.ts
  src/context.ts
  src/controllers/index.ts
  src/controllers/public-controller.ts
  src/entities/addresses.ts
  src/entities/catalog.ts
  src/entities/jsonld.ts
  tests/controllers/public.test.ts
  tests/edc-client.test.ts
Due: prettier --write, eslint --fix

chore: scropt used to setup jsonld
  scripts/debug-catalog-request.ts
  scripts/tsconfig.json
Due: prettier --write, eslint --fix

chore: updates jsonld ts files
  src/entities/jsonld.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: move jsonld file to a folder
  src/entities/jsonld/index.ts
Due: prettier --write, eslint --fix

feat: complete imeprovements of jsonld loaders
  src/entities/jsonld/custom-loader.ts
  src/entities/jsonld/files/dspace.json
  src/entities/jsonld/files/odrl-profile.json
Due: prettier --write, eslint --fix

chore: deletes scripts
  .gitignore
  scripts/debug-catalog-request.ts
  scripts/tsconfig.json
Due: prettier --write, eslint --fix

chore: remove unnecessary diffs
  src/entities/jsonld/index.ts
Due: prettier --write, eslint --fix

chore: update loaders
  src/entities/jsonld/custom-loader.ts
  src/entities/jsonld/files/dspace-2025.json
  src/entities/jsonld/files/edc-dspace.json
Due: prettier --write, eslint --fix

chore: rename files to contexts
  src/entities/jsonld/contexts/dspace-2025.json
  src/entities/jsonld/contexts/edc-dspace.json
  src/entities/jsonld/contexts/odrl-profile.json
  src/entities/jsonld/custom-loader.ts
Due: prettier --write, eslint --fix

chore: delete testing_scripts
  .gitignore
Due: none

delete unnecessary test
  tests/controllers/management-tests/transfer-processes.test.ts
Due: prettier --write, eslint --fix

Make jsonld documents to be preloaded (#546)
  src/entities/jsonld/contexts/dspace-2025.json
  src/entities/jsonld/contexts/edc-dspace.json
  src/entities/jsonld/contexts/odrl-profile.json
  src/entities/jsonld/custom-loader.ts
  src/entities/jsonld/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: null pointer when catalog is empty
  src/entities/jsonld/index.ts
Due: prettier --write, eslint --fix

fix: rollback managment api specs to 3.1.4
  pretest/edc-openapi.js
Due: prettier --write, eslint --fix

fix: null pointer when catalog is empty (#557)
  pretest/edc-openapi.js
  src/entities/jsonld/index.ts
Due: prettier --write, eslint --fix
