Repository Think-iT-Labs/edc-connector-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: pull request comments
  src/entities/participant.ts
  src/facades/identity.ts
  tests/controllers/identity-tests/participants.test.ts
  tests/controllers/management-tests/contract-negotiations.test.ts
Due: prettier --write, eslint --fix

Feat: Identity Hub participant and participants implementation (#351)
  pretest/edc-openapi.js
  src/client.ts
  src/context.ts
  src/controllers/identity-controllers/participant-controller.ts
  src/controllers/identity-controllers/participants-controller.ts
  src/entities/addresses.ts
  src/entities/participant.ts
  src/facades/identity.ts
  tests/controllers/identity-tests/participant.test.ts
  tests/controllers/identity-tests/participants.test.ts
  tests/controllers/management-tests/contract-negotiations.test.ts
Due: prettier --write, eslint --fix

feat: identity hub participant and participants contollers
  src/controllers/identity-hub-controllers/participant-controller.ts
  src/controllers/identity-hub-controllers/participants-controller.ts
  src/entities/identity-hub.ts
  tests/controllers/identity-hub-tests/participant.test.ts
  tests/controllers/identity-hub-tests/participants.test.ts
Due: prettier --write, eslint --fix

fix: review requests
  src/controllers/identity-hub-controllers/participant-controller.ts
  src/controllers/identity-hub-controllers/participants-controller.ts
  src/entities/identity-hub.ts
  tests/controllers/identity-hub-tests/participant.test.ts
  tests/controllers/identity-hub-tests/participants.test.ts
  tests/controllers/identity-tests/participants.test.ts
Due: prettier --write, eslint --fix

feat: keypairs controller
  src/controllers/identity-controllers/keypairs-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-keypairs-controller.ts
  src/entities/keypairs.ts
  src/facades/identity.ts
  tests/controllers/identity-tests/keypairs.test.ts
  tests/controllers/identity-tests/participant.test.ts
Due: prettier --write, eslint --fix

fix: update review requests
  src/controllers/identity-controllers/keypairs-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-keypairs-controller.ts
  src/entities/keypairs.ts
  tests/controllers/identity-tests/keypairs.test.ts
  tests/controllers/identity-tests/participant.test.ts
Due: prettier --write, eslint --fix

trigger ci
  README.md
Due: prettier --write

fix: skip broken tests
  tests/controllers/identity-tests/keypairs.test.ts
  tests/controllers/identity-tests/participant.test.ts
Due: prettier --write, eslint --fix

fix: review requests
  src/controllers/identity-controllers/participant-controllers/participant-keypairs-controller.ts
  tests/controllers/identity-tests/keypairs.test.ts
Due: prettier --write, eslint --fix

feat: keypairs controller (#356)
  src/controllers/identity-controllers/keypairs-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-keypairs-controller.ts
  src/entities/keypairs.ts
  src/facades/identity.ts
  tests/controllers/identity-tests/keypairs.test.ts
  tests/controllers/identity-tests/participant.test.ts
  tests/controllers/identity-tests/participants.test.ts
Due: prettier --write, eslint --fix

fix: review requests
  src/controllers/identity-controllers/participant-controller.ts
  src/controllers/identity-hub-controllers/participants-controller.ts
  src/entities/identity-hub.ts
  tests/controllers/identity-hub-tests/participant.test.ts
  tests/controllers/identity-hub-tests/participants.test.ts
  tests/controllers/identity-tests/participant.test.ts
Due: prettier --write, eslint --fix

feat: keypairs controller
  src/controllers/identity-controllers/participant-controller.ts
  tests/controllers/identity-tests/participant.test.ts
Due: prettier --write, eslint --fix

feat: dids controller
  src/controllers/identity-controllers/dids-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-dids-controller.ts
  src/entities/DID.ts
  src/facades/identity.ts
  src/inner.ts
  tests/controllers/identity-tests/dids.test.ts
Due: prettier --write, eslint --fix

chore: updates
  src/controllers/identity-controllers/dids-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-dids-controller.ts
  tests/controllers/identity-tests/dids.test.ts
Due: prettier --write, eslint --fix

chore: trigger ci
  README.md
Due: prettier --write

fix: use correct open api spec file name
  README.md
  tests/controllers/identity-tests/participant.test.ts
Due: prettier --write, eslint --fix

feat: dids controller (#365)
  src/controllers/identity-controllers/dids-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-dids-controller.ts
  src/entities/DID.ts
  src/facades/identity.ts
  src/inner.ts
  tests/controllers/identity-tests/dids.test.ts
Due: prettier --write, eslint --fix

feat: verifiable credentials
  src/controllers/identity-controllers/participant-controllers/participant-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-verifiable-credentials-controller.ts
  src/controllers/identity-controllers/verifiable-credentials-controller.ts
  src/entities/verifiable-credentials.ts
  src/facades/identity.ts
  tests/controllers/identity-tests/verifiableCredential.test.ts
Due: prettier --write, eslint --fix

fix: policy type
  src/entities/policy/policy.ts
  src/entities/policy/prohibition.ts
  src/entities/verifiable-credentials.ts
  tests/controllers/identity-tests/verifiableCredential.test.ts
Due: prettier --write, eslint --fix

fix: skip get verifiable credential request
  tests/controllers/identity-tests/verifiableCredential.test.ts
Due: prettier --write, eslint --fix

feat: verifiable credentials controller (#390)
  src/controllers/identity-controllers/participant-controllers/participant-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-verifiable-credentials-controller.ts
  src/controllers/identity-controllers/verifiable-credentials-controller.ts
  src/entities/policy/policy.ts
  src/entities/policy/prohibition.ts
  src/entities/verifiable-credentials.ts
  src/facades/identity.ts
  tests/controllers/identity-tests/verifiableCredential.test.ts
Due: prettier --write, eslint --fix

feat: verifiable credentials
  src/entities/verifiable-credentials.ts
  tests/controllers/identity-tests/verifiableCredential.test.ts
Due: prettier --write, eslint --fix

feat: presentation-api
  pretest/edc-openapi.js
  src/client.ts
  src/context.ts
  src/controllers/presentation-controller.ts
  src/entities/addresses.ts
  src/entities/presentation.ts
  tests/controllers/presentation-tests/presentation.test.ts
Due: prettier --write, eslint --fix

fix: properly type PresentationQueryMessage
  src/controllers/presentation-controller.ts
  src/entities/presentation.ts
  tests/controllers/presentation-tests/presentation.test.ts
Due: prettier --write, eslint --fix

Feat/presentations api (#412)
  pretest/edc-openapi.js
  src/client.ts
  src/context.ts
  src/controllers/presentation-controller.ts
  src/entities/addresses.ts
  src/entities/presentation.ts
  src/entities/verifiable-credentials.ts
  tests/controllers/identity-tests/verifiableCredential.test.ts
  tests/controllers/presentation-tests/presentation.test.ts
Due: prettier --write, eslint --fix

docs: extend client
  README.md
Due: prettier --write

docs: extend client (#427)
  README.md
Due: prettier --write

fix: remove duplicate release tags
  .github/workflows/release.yml
Due: none

fix: remove duplicate release tags (#431)
  .github/workflows/release.yml
Due: none

fix: upgrade node to v20
  .github/workflows/test.yml
Due: none

fix: upgrade node to v20
  .github/workflows/test.yml
  yarn.lock
Due: none

chore: upgrade nodejs to v20
  .github/workflows/publish-npm.yml
  .github/workflows/test.yml
  package.json
  yarn.lock
Due: prettier --write

feat: mark assetId as deperecated for transferProcess
  src/entities/transfer-process.ts
  tests/controllers/management-tests/transfer-processes.test.ts
  tests/controllers/public.test.ts
Due: prettier --write, eslint --fix

chore: upgrade nodejs to v20 (#434)
  .github/workflows/publish-npm.yml
  .github/workflows/test.yml
  package.json
  yarn.lock
Due: prettier --write

chore: add version number to deprecation
  .DS_Store
  src/entities/transfer-process.ts
Due: prettier --write, eslint --fix

feat: mark assetId as deperecated for transferProcess (#435)
  .DS_Store
  src/entities/transfer-process.ts
  tests/controllers/management-tests/transfer-processes.test.ts
  tests/controllers/public.test.ts
Due: prettier --write, eslint --fix

bump edc to version 0.13.0 adjust version for edc-transfer-pull-http-dynamic-receiver implement missing method for TargetNodeDirectory
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
  connector/src/main/java/io/thinkit/client/extension/DemoTargetNodeDirectory.java
  package-lock.json
  yarn.lock
Due: prettier --write

feat: handle BadGateway error
  src/error.ts
  src/inner.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: ./**/*.{js,jsx,ts,tsx,json,md}
  eslint --fix: any of: ./**/*.{js,jsx,ts,tsx}
