Repository Think-iT-Labs/edc-connector-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "./**/*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "./**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ]
}

feat: expose errors
  src/index.ts
Due: prettier --write, eslint --fix

Update build to output generated at 85efaf5
  src/index.d.ts
  src/index.js
Due: prettier --write, eslint --fix

fix: policy @type is mandatory
  src/entities/policy.ts
Due: prettier --write, eslint --fix

Update build to output generated at ef6ebce
  src/entities/policy.d.ts
Due: prettier --write, eslint --fix

fix: revert @type in policy
  src/entities/policy.ts
Due: prettier --write, eslint --fix

Update build to output generated at 23b80bc
  src/entities/policy.d.ts
Due: prettier --write, eslint --fix

feat: get shared data from public address
  src/controllers/index.ts
  src/controllers/public-controller.ts
  src/edc-client.ts
  src/inner.ts
Due: prettier --write, eslint --fix

test: check get shared data unhappy path
  src/error.ts
  src/inner.ts
  tests/controllers/public.test.ts
Due: prettier --write, eslint --fix

feat: return stream
  src/controllers/public-controller.ts
  src/error.ts
  src/inner.ts
  tests/controllers/data.test.ts
  tests/controllers/public.test.ts
Due: prettier --write, eslint --fix

refactor: rebrand to EDC Connector
  README.md
  package.json
  src/client.ts
  src/context.ts
  src/controllers/data-controller.ts
  src/controllers/dataplane-controller.ts
  src/controllers/observability-controller.ts
  src/error.ts
  src/index.ts
  src/inner.ts
  tests/controllers/data.test.ts
  tests/controllers/dataplane.test.ts
  tests/controllers/observability.test.ts
  tests/edc-client.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

refactor: rebrand to EDC Connector (#10)
  README.md
  package.json
  src/client.ts
  src/context.ts
  src/controllers/data-controller.ts
  src/controllers/dataplane-controller.ts
  src/controllers/observability-controller.ts
  src/error.ts
  src/index.ts
  src/inner.ts
  tests/controllers/data.test.ts
  tests/controllers/dataplane.test.ts
  tests/controllers/observability.test.ts
  tests/edc-client.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

Update build to output generated at eaa83d8
  package.json
  src/client.d.ts
  src/client.js
  src/context.d.ts
  src/context.js
  src/controllers/data-controller.d.ts
  src/controllers/data-controller.js
  src/controllers/dataplane-controller.d.ts
  src/controllers/dataplane-controller.js
  src/controllers/observability-controller.d.ts
  src/controllers/observability-controller.js
  src/edc-client.js
  src/error.d.ts
  src/error.js
  src/index.d.ts
  src/index.js
  src/inner.js
Due: prettier --write, eslint --fix

feat: expose Response directly
  src/controllers/public-controller.ts
  src/inner.ts
  tests/controllers/public.test.ts
Due: prettier --write, eslint --fix

feat: get shared data from public address (#9)
  src/client.ts
  src/controllers/index.ts
  src/controllers/public-controller.ts
  src/error.ts
  src/inner.ts
  tests/controllers/data.test.ts
  tests/controllers/public.test.ts
Due: prettier --write, eslint --fix

Update build to output generated at 4a99b70
  src/client.d.ts
  src/client.js
  src/controllers/index.d.ts
  src/controllers/index.js
  src/controllers/public-controller.d.ts
  src/controllers/public-controller.js
  src/error.d.ts
  src/error.js
  src/inner.d.ts
  src/inner.js
Due: prettier --write, eslint --fix

feat: update to milestone-8
  conf/consumer-connector.config/configuration.properties
  conf/provider-connector.config/configuration.properties
  connector/Dockerfile
  connector/build.gradle.kts
  docker-compose.yml
  src/client.ts
  src/context.ts
  src/controllers/data-controller.ts
  src/controllers/dataplane-controller.ts
  src/controllers/index.ts
  src/entities/addresses.ts
  src/entities/dataplane.ts
  tests/controllers/data.test.ts
  tests/controllers/dataplane.test.ts
  tests/controllers/observability.test.ts
  tests/controllers/public.test.ts
  tests/edc-client.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

fix: correct dataplane token validation endpoint
  conf/consumer-connector.config/configuration.properties
  conf/provider-connector.config/configuration.properties
Due: none

fix: rename /validation to /control
  conf/consumer-connector.config/addresses.json
  conf/consumer-connector.config/configuration.properties
  conf/provider-connector.config/addresses.json
  conf/provider-connector.config/configuration.properties
Due: prettier --write

chore: rename data controller to management
  .github/workflows/publish-test-connector-image.yml
  src/client.ts
  src/controllers/index.ts
  src/controllers/management-controller.ts
  tests/controllers/management.test.ts
  tests/controllers/public.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

fix: run correct connector test image
  .github/workflows/publish-test-connector-image.yml
  docker-compose.yml
  tests/edc-client.test.ts
Due: prettier --write, eslint --fix

fix: rename all data to management
  README.md
  docker-compose.yml
  tests/controllers/management.test.ts
Due: prettier --write, eslint --fix

chore: update package.json
  package.json
Due: prettier --write

feat: update to milestone-8 (#12)
  .github/workflows/publish-test-connector-image.yml
  README.md
  conf/consumer-connector.config/addresses.json
  conf/consumer-connector.config/configuration.properties
  conf/provider-connector.config/addresses.json
  conf/provider-connector.config/configuration.properties
  connector/Dockerfile
  connector/build.gradle.kts
  docker-compose.yml
  package.json
  src/client.ts
  src/context.ts
  src/controllers/dataplane-controller.ts
  src/controllers/index.ts
  src/controllers/management-controller.ts
  src/entities/addresses.ts
  src/entities/dataplane.ts
  tests/controllers/dataplane.test.ts
  tests/controllers/management.test.ts
  tests/controllers/observability.test.ts
  tests/controllers/public.test.ts
  tests/edc-client.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

Update build to output generated at 7c84f01
  package.json
  src/client.d.ts
  src/client.js
  src/context.d.ts
  src/context.js
  src/controllers/data-controller.js
  src/controllers/dataplane-controller.d.ts
  src/controllers/dataplane-controller.js
  src/controllers/index.d.ts
  src/controllers/index.js
  src/controllers/management-controller.d.ts
  src/controllers/management-controller.js
  src/entities/addresses.d.ts
  src/entities/dataplane.d.ts
Due: prettier --write, eslint --fix

feat: relicense to Apache License 2.0
  .github/pull_request_template.md
  CONTRIBUTING.md
  LICENSE
  README.md
Due: prettier --write

feat!: include prefix in connector address
  conf/consumer-connector.config/addresses.json
  conf/provider-connector.config/addresses.json
  src/controllers/management-controller.ts
  src/controllers/observability-controller.ts
  src/controllers/public-controller.ts
  src/inner.ts
  tests/controllers/management.test.ts
  tests/controllers/observability.test.ts
  tests/controllers/public.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

feat!: include prefix in connector address (#14)
  conf/consumer-connector.config/addresses.json
  conf/provider-connector.config/addresses.json
  src/controllers/management-controller.ts
  src/controllers/observability-controller.ts
  src/controllers/public-controller.ts
  src/inner.ts
  tests/controllers/management.test.ts
  tests/controllers/observability.test.ts
  tests/controllers/public.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

Update build to output generated at f02f7ce
  src/controllers/management-controller.js
  src/controllers/observability-controller.js
  src/controllers/public-controller.js
  src/inner.js
Due: prettier --write, eslint --fix

feat!: rename data to management and ids to protocol
  src/context.ts
  src/controllers/management-controller.ts
  src/entities/addresses.ts
  tests/controllers/management.test.ts
  tests/controllers/observability.test.ts
  tests/controllers/public.test.ts
  tests/edc-client.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

feat!: rename data to management and ids to protocol (#15)
  src/context.ts
  src/controllers/management-controller.ts
  src/entities/addresses.ts
  tests/controllers/management.test.ts
  tests/controllers/observability.test.ts
  tests/controllers/public.test.ts
  tests/edc-client.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

Update build to output generated at 82dd10e
  src/context.d.ts
  src/context.js
  src/controllers/management-controller.js
  src/entities/addresses.d.ts
Due: prettier --write, eslint --fix

chore: address code review
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
Due: prettier --write

feat: relicense to Apache License 2.0 (#13)
  .github/pull_request_template.md
  CONTRIBUTING.md
  LICENSE
  README.md
Due: prettier --write

fix: publishing to npm
  .github/workflows/build-to-branch.yml
  .github/workflows/npm-publish.yml
  package.json
Due: prettier --write

chore: trigger CI
  package.json
Due: prettier --write

fix: correct ingnored npm files
  .npmignore
  package.json
Due: prettier --write

docs: use protocol and management in the README
  README.md
Due: prettier --write

chore: bump version
  package.json
Due: prettier --write
