Repository Think-iT-Labs/edc-connector-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "./**/*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "./**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ]
}

chore: add issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Due: none

feat: rust implementation
  .gitignore
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/client.rs
  rust/src/context.rs
  rust/src/controllers/management_controller.rs
  rust/src/controllers/mod.rs
  rust/src/controllers/observability_controller.rs
  rust/src/controllers/public_controller.rs
  rust/src/entities/action.rs
  rust/src/entities/addresses.rs
  rust/src/entities/asset.rs
  rust/src/entities/catalog.rs
  rust/src/entities/constraint.rs
  rust/src/entities/contract_agreement.rs
  rust/src/entities/contract_definition.rs
  rust/src/entities/contract_negotiation.rs
  rust/src/entities/contract_offer.rs
  rust/src/entities/criterion.rs
  rust/src/entities/data_address.rs
  rust/src/entities/dataplane.rs
  rust/src/entities/duty.rs
  rust/src/entities/health.rs
  rust/src/entities/mod.rs
  rust/src/entities/permission.rs
  rust/src/entities/policy.rs
  rust/src/entities/prohibition.rs
  rust/src/entities/transfer_process.rs
  rust/src/lib.rs
Due: none

feat(go): init go client
  go/config/config.go
  go/config/go.mod
  go/edc/config.go
  go/edc/go.mod
  go/go.mod
  go/go.work
  go/service/health/api_client.go
  go/service/health/api_op_CheckHealth.go
  go/service/health/api_op_CheckLiveness.go
  go/service/health/api_op_CheckReadiness.go
  go/service/health/api_op_CheckStartup.go
  go/service/health/go.mod
Due: none

add unit tests and health check service
  go/config/config_test.go
  go/service/health/api_client.go
  go/service/health/api_op_CheckHealth.go
  go/service/health/api_op_CheckLiveness.go
  go/service/health/api_op_CheckReadiness.go
  go/service/health/api_op_CheckStartup.go
Due: none

feat: add application observability
  go/Makefile
  go/config/config.go
  go/config/config_test.go
  go/coverage.out
  go/edc/config.go
  go/edc/transport/http/client.go
  go/edc/transport/http/client_test.go
  go/go.work
  go/internal/sdkuri/validate_uri.go
  go/internal/sdkuri/validate_uri_test.go
  go/service/health/api_client.go
  go/service/health/go.mod
  go/service/observability/api_client.go
  go/service/observability/api_client_test.go
  go/service/observability/api_op_CheckHealth.go
  go/service/observability/api_op_CheckLiveness.go
  go/service/observability/api_op_CheckReadiness.go
  go/service/observability/api_op_CheckStartup.go
  go/service/observability/go.mod
  go/service/observability/go.sum
Due: none

feat: add create asset feature
  go/coverage.out
  go/go.work
  go/service/assets/api_client.go
  go/service/assets/api_op_CreateAsset.go
  go/service/assets/api_op_CreateAsset_test.go
  go/service/assets/go.mod
  go/service/assets/types.go
Due: none

feat: add assets crud with unit tests
  go/coverage.out
  go/service/assets/api_op_CreateAsset_test.go
  go/service/assets/api_op_DeleteAsset.go
  go/service/assets/api_op_DeleteAsset_test.go
  go/service/assets/api_op_GetAsset.go
  go/service/assets/api_op_GetAsset_test.go
  go/service/assets/api_op_ListAssets.go
  go/service/assets/api_op_ListAssets_test.go
Due: none

feat: add assets crud example
  go/examples/crudAssets/go.mod
  go/examples/crudAssets/main.go
  go/go.work
Due: none

feat: add assets crud example
  go/edc/transport/http/client.go
  go/examples/assetsCrud/go.mod
  go/examples/assetsCrud/main.go
  go/examples/crudAssets/go.mod
  go/go.work
  go/service/assets/api_op_CreateAsset.go
  go/service/policies/api_client.go
  go/service/policies/api_op_GetPolicy.go
  go/service/policies/api_op_ListPolicies.go
  go/service/policies/go.mod
  go/service/policies/types.go
Due: none

Revert "feat: add assets crud example"
  go/edc/transport/http/client.go
  go/examples/assetsCrud/go.mod
  go/examples/crudAssets/go.mod
  go/examples/crudAssets/main.go
  go/go.work
  go/service/assets/api_op_CreateAsset.go
  go/service/policies/api_client.go
  go/service/policies/api_op_GetPolicy.go
  go/service/policies/api_op_ListPolicies.go
  go/service/policies/go.mod
  go/service/policies/types.go
Due: none

Revert "Revert "feat: add assets crud example""
  go/edc/transport/http/client.go
  go/examples/assetsCrud/go.mod
  go/examples/assetsCrud/main.go
  go/examples/crudAssets/go.mod
  go/go.work
  go/service/assets/api_op_CreateAsset.go
  go/service/policies/api_client.go
  go/service/policies/api_op_GetPolicy.go
  go/service/policies/api_op_ListPolicies.go
  go/service/policies/go.mod
  go/service/policies/types.go
Due: none

feat: add policy definitions crud
  go/coverage.out
  go/service/assets/api_op_CreateAsset.go
  go/service/policies/api_op_CreatePolicy.go
  go/service/policies/api_op_CreatePolicy_test.go
  go/service/policies/api_op_DeletePolicy.go
  go/service/policies/api_op_DeletePolicy_test.go
  go/service/policies/api_op_GetPolicy_test.go
  go/service/policies/api_op_ListPolicies_test.go
  go/service/policies/types.go
Due: none

chore: update go.mod
  go/config/go.mod
  go/config/go.sum
  go/examples/assetsCrud/main.go
  go/service/assets/go.mod
  go/service/assets/go.sum
Due: none

chore: update go.mod
  go/.pre-commit-config.yaml
  go/.vscode/settings.json
  go/config/go.mod
  go/config/go.sum
  go/examples/assetsCrud/main.go
  go/service/assets/go.mod
  go/service/assets/go.sum
Due: prettier --write

feat: add get policy error handling
  go/config/config.go
  go/coverage.out
  go/service/policies/api_op_GetPolicy.go
  go/service/policies/api_op_GetPolicy_test.go
  go/service/policies/types.go
Due: none

feat: finish policy api error handling
  go/coverage.out
  go/service/policies/api_op_CreatePolicy.go
  go/service/policies/api_op_CreatePolicy_test.go
  go/service/policies/api_op_DeletePolicy.go
  go/service/policies/api_op_DeletePolicy_test.go
  go/service/policies/api_op_GetPolicy.go
  go/service/policies/api_op_GetPolicy_test.go
  go/service/policies/api_op_ListPolicies.go
  go/service/policies/api_op_ListPolicies_test.go
Due: none

chore: update go.mod
  go/service/assets/go.mod
Due: none

fix(rust): minor fixes to make client usable
  rust/src/client.rs
  rust/src/context.rs
  rust/src/controllers/management_controller.rs
  rust/src/controllers/observability_controller.rs
  rust/src/controllers/public_controller.rs
  rust/src/entities/addresses.rs
  rust/src/entities/asset.rs
  rust/src/entities/catalog.rs
  rust/src/entities/data_address.rs
  rust/src/entities/health.rs
  rust/src/entities/mod.rs
  rust/src/lib.rs
Due: none

feat: add policies example for golang client
  go/examples/policiesCrud/main.go
  go/service/policies/api_op_DeletePolicy.go
Due: none

feat: add policies example for golang client (#21)
  go/examples/policiesCrud/main.go
  go/service/policies/api_op_DeletePolicy.go
Due: none

feat: get asset data address
  src/controllers/management-controller.ts
  src/entities/asset.ts
  src/entities/data-address.ts
Due: prettier --write, eslint --fix

test: add tests for getAsseDataAddress method
  tests/controllers/management.test.ts
Due: prettier --write, eslint --fix

chore: remove redundant types
  go/.vscode/settings.json
  go/examples/assetsCrud/main.go
  go/service/assets/api_op_CreateAsset.go
  go/service/assets/api_op_CreateAsset_test.go
  go/service/assets/api_op_GetAsset.go
  go/service/assets/api_op_ListAssets.go
Due: prettier --write

fix: update auth token header to x-api-key
  go/edc/transport/http/client.go
  go/examples/assetsCrud/main.go
Due: none

fix: properties is required in DataAddressDto
  src/entities/data-address.ts
Due: prettier --write, eslint --fix

test: compare object returned properties
  src/controllers/management-controller.ts
  tests/controllers/management.test.ts
Due: prettier --write, eslint --fix

chore: update image version for testing connector
  docker-compose.yml
Due: none

feat: add update asset
  go/.vscode/settings.json
  go/examples/assetsCrud/main.go
  go/service/assets/api_op_UpdateAsset.go
  go/service/assets/api_op_UpdateAsset_test.go
Due: prettier --write

feat(go-sdk): add create contract definition
  go/examples/contractDefinitionsCrud/main.go
  go/go.work
  go/service/contractdefinition/api_client.go
  go/service/contractdefinition/api_op_CreateContractDefinition.go
  go/service/contractdefinition/go.mod
  go/service/contractdefinition/go.sum
Due: none

feat(go): add get contract definition by id
  go/examples/contractDefinitionsCrud/main.go
  go/service/contractdefinition/api_op_CreateContractDefinition.go
  go/service/contractdefinition/api_op_GetContractDefinition.go
  go/service/contractdefinition/types.go
Due: none

feat(go): add list contract definitions
  go/examples/contractDefinitionsCrud/main.go
  go/service/contractdefinition/api_op_ListContractDefinitions.go
Due: none

test(go): add contract definition unit tests
  go/.vscode/settings.json
  go/service/contractdefinition/api_op_CreateContractDefinition.go
  go/service/contractdefinition/api_op_CreateContractDefinition_test.go
  go/service/contractdefinition/api_op_GetContractDefinition_test.go
  go/service/contractdefinition/api_op_ListContractDefinitions.go
  go/service/contractdefinition/api_op_ListContractDefinitions_test.go
  go/service/contractdefinition/types.go
Due: prettier --write

feat(go): add delete contract ddefinition
  go/examples/contractDefinitionsCrud/main.go
  go/service/contractdefinition/api_op_DeleteContractDefinition.go
Due: none

feat(go): add update contract definition
  go/examples/contractDefinitionsCrud/main.go
  go/service/contractdefinition/api_op_CreateContractDefinition.go
  go/service/contractdefinition/api_op_UpdateContractDefinition.go
  go/service/contractdefinition/types.go
Due: none

fix(go): fix typos in merge conflicts
  go/service/assets/api_op_DeleteAsset_test.go
  go/service/contractdefinition/api_op_CreateContractDefinition.go
Due: none

test(go): add testing for delete contracct defs
  go/service/contractdefinition/api_op_DeleteContractDefinition_test.go
Due: none

test(go): add testing for update contract defs
  go/service/contractdefinition/api_op_UpdateContractDefinition_test.go
Due: none

feat(go): handle http error responses assets api
  go/service/assets/api_op_CreateAsset.go
  go/service/assets/api_op_DeleteAsset.go
  go/service/assets/api_op_GetAsset.go
  go/service/assets/api_op_ListAssets.go
Due: none

review comments
  go/service/assets/api_op_CreateAsset.go
  go/service/assets/api_op_DeleteAsset.go
  go/service/assets/api_op_DeleteAsset_test.go
  go/service/assets/api_op_GetAsset.go
  go/service/assets/api_op_ListAssets.go
Due: none

feat(go): handle http error responses assets api (#24)
  go/service/assets/api_op_CreateAsset.go
  go/service/assets/api_op_DeleteAsset.go
  go/service/assets/api_op_DeleteAsset_test.go
  go/service/assets/api_op_GetAsset.go
  go/service/assets/api_op_ListAssets.go
Due: none
