Repository Think-iT-Labs/edc-connector-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: allow Connector's addresses to be relative URLs
  src/facades/management.ts
  src/inner.ts
  tests/edc-client.test.ts
Due: prettier --write, eslint --fix

feat: allow Connector's addresses to be relative URLs (#241)
  src/facades/management.ts
  src/inner.ts
  tests/edc-client.test.ts
Due: prettier --write, eslint --fix

Prepare release 0.5.0
  package.json
Due: prettier --write

feat: improve transpiled typings
  src/client.ts
Due: prettier --write, eslint --fix

run tests on PRs
  .github/workflows/test.yml
Due: none

build(deps): bump EDC to 0.7.0
  conf/consumer-connector.config/configuration.properties
  conf/consumer-connector.config/vault-keys.p12
  conf/consumer-connector.config/vault.properties
  conf/provider-connector.config/configuration.properties
  conf/provider-connector.config/vault-keys.p12
  conf/provider-connector.config/vault.properties
  connector/Dockerfile
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
  connector/src/main/java/io/thinkit/client/extension/SeedVaultExtension.java
  connector/src/main/resources/META-INF/services/org.eclipse.edc.spi.system.ServiceExtension
  docker-compose.yml
  src/controllers/management-controllers/dataplane-controller.ts
  src/entities/dataplane.ts
  src/entities/transfer-process.ts
  tests/controllers/management-tests/dataplanes.test.ts
  tests/controllers/management-tests/policy-definitions.test.ts
  tests/controllers/management-tests/transfer-processes.test.ts
  tests/controllers/public.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

remove waitFor
  tests/controllers/public.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

build(deps): bump EDC to 0.7.0 (#260)
  conf/consumer-connector.config/configuration.properties
  conf/consumer-connector.config/vault-keys.p12
  conf/consumer-connector.config/vault.properties
  conf/provider-connector.config/configuration.properties
  conf/provider-connector.config/vault-keys.p12
  conf/provider-connector.config/vault.properties
  connector/Dockerfile
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
  connector/src/main/java/io/thinkit/client/extension/SeedVaultExtension.java
  connector/src/main/resources/META-INF/services/org.eclipse.edc.spi.system.ServiceExtension
  docker-compose.yml
  src/controllers/management-controllers/dataplane-controller.ts
  src/entities/dataplane.ts
  src/entities/transfer-process.ts
  tests/controllers/management-tests/dataplanes.test.ts
  tests/controllers/management-tests/policy-definitions.test.ts
  tests/controllers/management-tests/transfer-processes.test.ts
  tests/controllers/public.test.ts
Due: prettier --write, eslint --fix

build(deps): bump EDC to 0.7.1
  README.md
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
Due: prettier --write

build(deps): bump EDC to 0.7.1 (#261)
  README.md
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
Due: prettier --write

docs: update README
  README.md
Due: prettier --write

Prepare release 0.6.0
  package.json
Due: prettier --write

feat: switch to management v3
  pretest/edc-openapi.js
  src/controllers/management-controllers/asset-controller.ts
  src/controllers/management-controllers/catalog-controller.ts
  src/controllers/management-controllers/contract-agreement-controller.ts
  src/controllers/management-controllers/contract-defintion-controller.ts
  src/controllers/management-controllers/contract-negotiation-controller.ts
  src/controllers/management-controllers/dataplane-controller.ts
  src/controllers/management-controllers/edr-controller.ts
  src/controllers/management-controllers/policy-defintion-controller.ts
  src/controllers/management-controllers/secret-controller.ts
  src/controllers/management-controllers/transfer-process-controller.ts
Due: prettier --write, eslint --fix

bump edc to 0.8.0
  README.md
  connector/gradle/libs.versions.toml
Due: prettier --write

feat: switch to management v3 (#263)
  README.md
  connector/gradle/libs.versions.toml
  pretest/edc-openapi.js
  src/controllers/management-controllers/asset-controller.ts
  src/controllers/management-controllers/catalog-controller.ts
  src/controllers/management-controllers/contract-agreement-controller.ts
  src/controllers/management-controllers/contract-defintion-controller.ts
  src/controllers/management-controllers/contract-negotiation-controller.ts
  src/controllers/management-controllers/dataplane-controller.ts
  src/controllers/management-controllers/edr-controller.ts
  src/controllers/management-controllers/policy-defintion-controller.ts
  src/controllers/management-controllers/secret-controller.ts
  src/controllers/management-controllers/transfer-process-controller.ts
Due: prettier --write, eslint --fix

Prepare release 0.7.0
  package.json
Due: prettier --write

feat: improve transpiled typings (#245)
  src/client.ts
Due: prettier --write, eslint --fix

build(deps): bump EDC to 0.8.2-SNAPSHOT
  connector/gradle/libs.versions.toml
Due: none

adds federated catalog client
  conf/consumer-connector.config/addresses.json
  conf/consumer-connector.config/configuration.properties
  conf/provider-connector.config/addresses.json
  conf/provider-connector.config/configuration.properties
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
  connector/src/main/java/io/thinkit/client/extension/DemoTargetNodeDirectory.java
  connector/src/main/java/io/thinkit/client/extension/ParticipantsResolverExtension.java
  connector/src/main/resources/META-INF/services/org.eclipse.edc.spi.system.ServiceExtension
  docker-compose.yml
  src/client.ts
  src/context.ts
  src/controllers/federated-catalog-controller.ts
  src/controllers/index.ts
  src/entities/addresses.ts
  src/entities/catalog.ts
  tests/controllers/federated-catalog.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

adds federated catalog client (#255)
  conf/consumer-connector.config/addresses.json
  conf/consumer-connector.config/configuration.properties
  conf/provider-connector.config/addresses.json
  conf/provider-connector.config/configuration.properties
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
  connector/src/main/java/io/thinkit/client/extension/DemoTargetNodeDirectory.java
  connector/src/main/java/io/thinkit/client/extension/ParticipantsResolverExtension.java
  connector/src/main/resources/META-INF/services/org.eclipse.edc.spi.system.ServiceExtension
  docker-compose.yml
  src/client.ts
  src/context.ts
  src/controllers/federated-catalog-controller.ts
  src/controllers/index.ts
  src/entities/addresses.ts
  src/entities/catalog.ts
  tests/controllers/federated-catalog.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

Prepare release 0.8.0
  package.json
Due: prettier --write

build(deps): bump EDC to 0.9.0
  .github/workflows/test.yml
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
  src/entities/catalog.ts
  src/entities/jsonld.ts
Due: prettier --write, eslint --fix

build(deps): bump EDC to 0.9.0 (#317)
  .github/workflows/test.yml
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
  src/entities/catalog.ts
  src/entities/jsonld.ts
Due: prettier --write, eslint --fix

add missing dep:
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
Due: none

add missing dep:
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
  tests/controllers/management-tests/contract-negotiations.test.ts
Due: prettier --write, eslint --fix

build: remove unused husky dependency
  package.json
  yarn.lock
Due: prettier --write

chore: download multiple openapi specs
  pretest/edc-openapi.js
Due: prettier --write, eslint --fix

feat: identity hub participant and participants contollers
  src/client.ts
  src/context.ts
  src/controllers/identity-hub-controllers/participant-controller.ts
  src/controllers/identity-hub-controllers/participants-controller.ts
  src/entities/addresses.ts
  src/entities/identity-hub.ts
  tests/controllers/identity-hub-tests/participant.test.ts
  tests/controllers/identity-hub-tests/participants.test.ts
Due: prettier --write, eslint --fix

fix: review requests
  pretest/edc-openapi.js
  src/client.ts
  src/context.ts
  src/controllers/identity-controllers/participant-controller.ts
  src/controllers/identity-controllers/participants-controller.ts
  src/entities/participant.ts
  src/facades/identity.ts
  tests/controllers/identity-tests/participant.test.ts
  tests/controllers/identity-tests/participants.test.ts
Due: prettier --write, eslint --fix

fix: testcontainer file name
  tests/controllers/identity-tests/participants.test.ts
Due: prettier --write, eslint --fix

feat: keypairs controller
  src/controllers/identity-controllers/keypairs-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-keypairs-controller.ts
  src/entities/keypairs.ts
  src/facades/identity.ts
  tests/controllers/identity-tests/keypairs.test.ts
  tests/controllers/identity-tests/participant.test.ts
Due: prettier --write, eslint --fix

feat: dids controller
  src/controllers/identity-controllers/dids-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-dids-controller.ts
  src/entities/DID.ts
  src/facades/identity.ts
  src/inner.ts
  tests/controllers/identity-tests/dids.test.ts
Due: prettier --write, eslint --fix

fix: add base path constant
  src/controllers/identity-controllers/participant-controller.ts
  src/controllers/identity-controllers/participants-controller.ts
  tests/controllers/management-tests/contract-negotiations.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: ./**/*.{js,jsx,ts,tsx,json,md}
  eslint --fix: any of: ./**/*.{js,jsx,ts,tsx}
