Repository Think-iT-Labs/edc-connector-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: handle BadGateway error (#446)
  src/error.ts
  src/inner.ts
Due: prettier --write, eslint --fix

revert pull http receiver dependency
  connector/Dockerfile
  connector/gradle/libs.versions.toml
Due: none

replace individual dependencies with bom's
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
Due: none

fix: use symbols to avoid losing context
  src/client.ts
  tests/use-method.test.ts
Due: prettier --write, eslint --fix

bump edc to version 0.13.0 (#442)
  connector/Dockerfile
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
  connector/src/main/java/io/thinkit/client/extension/DemoTargetNodeDirectory.java
  package-lock.json
  yarn.lock
Due: prettier --write

ci: fix broken test
  tests/controllers/identity-tests/verifiableCredential.test.ts
Due: prettier --write, eslint --fix

ci: fix broken test (#455)
  tests/controllers/identity-tests/verifiableCredential.test.ts
Due: prettier --write, eslint --fix

fix test
  conf/consumer-connector.config/configuration.properties
  conf/provider-connector.config/configuration.properties
Due: none

add healthcheck
  connector/Dockerfile
  docker-compose.yml
Due: none

wait for containers to be ready
  .github/workflows/test.yml
Due: none

avoid warnings
  conf/consumer-connector.config/configuration.properties
  conf/provider-connector.config/configuration.properties
Due: none

replace deprecated method
  tests/controllers/management-tests/contract-agreements.test.ts
  tests/controllers/management-tests/contract-definitions.test.ts
  tests/controllers/management-tests/contract-negotiations.test.ts
  tests/controllers/management-tests/edrs.test.ts
  tests/controllers/management-tests/policy-definitions.test.ts
  tests/inner.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: pre-release nits
  README.md
  tests/controllers/identity-tests/dids.test.ts
  tests/controllers/identity-tests/keypairs.test.ts
  tests/controllers/identity-tests/participant.test.ts
  tests/controllers/identity-tests/participants.test.ts
  tests/controllers/identity-tests/verifiableCredential.test.ts
  tests/controllers/management-tests/assets.test.ts
  tests/controllers/management-tests/edrs.test.ts
  tests/controllers/management-tests/secrets.test.ts
  tests/controllers/presentation-tests/presentation.test.ts
Due: prettier --write, eslint --fix

cleanup: remove meaningless test
  connector/Dockerfile
  tests/controllers/management-tests/contract-negotiations.test.ts
Due: prettier --write, eslint --fix

chore: pre-release nits (#461)
  README.md
  connector/Dockerfile
  tests/controllers/identity-tests/dids.test.ts
  tests/controllers/identity-tests/keypairs.test.ts
  tests/controllers/identity-tests/participant.test.ts
  tests/controllers/identity-tests/participants.test.ts
  tests/controllers/identity-tests/verifiableCredential.test.ts
  tests/controllers/management-tests/assets.test.ts
  tests/controllers/management-tests/contract-negotiations.test.ts
  tests/controllers/management-tests/edrs.test.ts
  tests/controllers/management-tests/secrets.test.ts
  tests/controllers/presentation-tests/presentation.test.ts
Due: prettier --write, eslint --fix

Prepare release 0.9.0
  package.json
Due: prettier --write

refactor: merge custom controller test suites
  tests/edc-client.test.ts
  tests/use-method.test.ts
Due: prettier --write, eslint --fix

fix: use symbols to avoid losing context (#452)
  src/client.ts
  tests/edc-client.test.ts
Due: prettier --write, eslint --fix

feat: upgrade protocol to 2025-1
  src/controllers/management-controllers/catalog-controller.ts
  src/controllers/management-controllers/contract-negotiation-controller.ts
  src/controllers/management-controllers/transfer-process-controller.ts
Due: prettier --write, eslint --fix

feat: provide dataspace protocol
  src/client.ts
  src/context.ts
  src/controllers/management-controllers/catalog-controller.ts
  src/controllers/management-controllers/contract-negotiation-controller.ts
  src/controllers/management-controllers/transfer-process-controller.ts
  tests/edc-client.test.ts
Due: prettier --write, eslint --fix

refactor: replace protocol with dataspace protocol
  src/client.ts
  src/context.ts
  src/controllers/management-controllers/catalog-controller.ts
  src/controllers/management-controllers/contract-negotiation-controller.ts
  src/controllers/management-controllers/transfer-process-controller.ts
Due: prettier --write, eslint --fix

fix tests
  src/entities/jsonld-custom-loader.ts
  src/entities/jsonld.ts
  tests/controllers/management-tests/catalog.test.ts
  tests/controllers/management-tests/contract-agreements.test.ts
  tests/controllers/management-tests/contract-negotiations.test.ts
  tests/controllers/management-tests/dataplanes.test.ts
  tests/controllers/management-tests/transfer-processes.test.ts
  tests/controllers/public.test.ts
  tests/edc-client.test.ts
Due: prettier --write, eslint --fix

refactor: remove custom loader
  src/entities/jsonld-custom-loader.ts
  src/entities/jsonld.ts
Due: prettier --write, eslint --fix

fix: use experimental-vm-modules for jest
  package.json
Due: prettier --write

feat: upgrade protocol to 2025-1 (#477)
  package.json
  src/client.ts
  src/context.ts
  src/controllers/management-controllers/catalog-controller.ts
  src/controllers/management-controllers/contract-negotiation-controller.ts
  src/controllers/management-controllers/transfer-process-controller.ts
  src/entities/jsonld.ts
  tests/controllers/management-tests/catalog.test.ts
  tests/controllers/management-tests/contract-agreements.test.ts
  tests/controllers/management-tests/contract-negotiations.test.ts
  tests/controllers/management-tests/dataplanes.test.ts
  tests/controllers/management-tests/transfer-processes.test.ts
  tests/controllers/public.test.ts
  tests/edc-client.test.ts
Due: prettier --write, eslint --fix

feat: allow pre-release option on publish action
  .github/workflows/publish-npm.yml
  .github/workflows/release.yml
Due: none

fix: review comments
  .github/workflows/publish-npm.yml
  .github/workflows/release.yml
Due: none

feat: allow pre-release option on publish action (#482)
  .github/workflows/publish-npm.yml
  .github/workflows/release.yml
Due: none

Prepare release v0.9.1-beta.0
  package.json
Due: prettier --write

build: upgrade gradle to 9
  connector/Dockerfile
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
Due: none

build: upgrade gradle to 9 (#483)
  connector/Dockerfile
  connector/build.gradle.kts
  connector/gradle/libs.versions.toml
Due: none

refactor: move all context properties to one object
  src/client.ts
  tests/edc-client.test.ts
Due: prettier --write, eslint --fix

fix: tests and pr review
  src/client.ts
  src/context.ts
Due: prettier --write, eslint --fix

refactor: move all context properties to one object (#486)
  src/client.ts
  src/context.ts
  tests/edc-client.test.ts
Due: prettier --write, eslint --fix

Prepare release v0.9.1-beta.1
  package.json
Due: prettier --write

Make PolicyInput.profiles optional to align with EDC 0.15.x behavior
  src/entities/policy/policy.ts
Due: prettier --write, eslint --fix

Make PolicyInput.profiles optional to align with EDC 0.15.x behavior (#496)
  src/entities/policy/policy.ts
Due: prettier --write, eslint --fix

chore: ignore .DS_Store
  .DS_Store
  .gitignore
Due: none

chore: delete redundant package-lock.json
  package-lock.json
Due: prettier --write

release: upgrade v0.9.1-beta.1 to v0.9.1
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: ./**/*.{js,jsx,ts,tsx,json,md}
  eslint --fix: any of: ./**/*.{js,jsx,ts,tsx}
