Repository Think-iT-Labs/edc-connector-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "./**/*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "./**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ]
}

Prepare release 0.9.3
  package.json
Due: prettier --write

chore: change code to use json ld document loader
  package.json
  src/entities/jsonld/custom-loader.ts
  src/types/jsonld-document-loader.d.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: revert code back to using just jsonld
  src/entities/jsonld/custom-loader.ts
  src/types/jsonld-node-loader.d.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: default jsonld loader
  src/types/jsonld-document-loader.d.ts
  src/types/jsonld-node-loader.d.ts
Due: prettier --write, eslint --fix

chore: no custom
  src/entities/jsonld/custom-loader.ts
Due: prettier --write, eslint --fix

chore: remove custom jsonld loader
  src/entities/jsonld/custom-loader.ts
Due: prettier --write, eslint --fix

chore: remove document loader
  package.json
  src/entities/jsonld/custom-loader.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: use transmute loader
  package.json
  src/entities/jsonld/custom-loader.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: update jsonld to use xhr in client side
  package.json
  src/entities/jsonld/custom-loader.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: update code to make slightly cleaner
  src/entities/jsonld/custom-loader.ts
Due: prettier --write, eslint --fix

Change code to use json ld document loader (#558)
  package.json
  src/entities/jsonld/custom-loader.ts
  yarn.lock
Due: prettier --write, eslint --fix

v0.9.4
  package.json
Due: prettier --write

v0.9.4 (#565)
  package.json
Due: prettier --write

Prepare release 0.9.5
  package.json
Due: prettier --write

fix: tests v1
  src/controllers/federated-catalog-controller.ts
  src/controllers/management-controllers/asset-controller.ts
  src/controllers/management-controllers/catalog-controller.ts
  src/controllers/management-controllers/contract-agreement-controller.ts
  src/controllers/management-controllers/contract-defintion-controller.ts
  src/controllers/management-controllers/contract-negotiation-controller.ts
  src/controllers/management-controllers/edr-controller.ts
  src/controllers/management-controllers/management-base-controller.ts
  src/controllers/management-controllers/policy-defintion-controller.ts
  src/controllers/management-controllers/secret-controller.ts
  src/controllers/management-controllers/transfer-process-controller.ts
  src/entities/asset.ts
  src/entities/catalog.ts
  src/entities/contract-definition.ts
  src/entities/contract-negotiation.ts
  src/entities/criterion.ts
  src/entities/index.ts
  src/entities/jsonld/contexts/managmentV2.json
  src/entities/jsonld/custom-loader.ts
  src/entities/policy-definition.ts
  tests/controllers/management-tests/assets.test.ts
  tests/controllers/management-tests/catalog.test.ts
  tests/controllers/management-tests/contract-agreements.test.ts
  tests/controllers/management-tests/contract-definitions.test.ts
  tests/controllers/management-tests/contract-negotiations.test.ts
  tests/controllers/management-tests/policy-definitions.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

feat: v4beta managment support
  src/client.ts
  src/context.ts
  src/controllers/management-controllers/asset-controller.ts
  src/controllers/management-controllers/catalog-controller.ts
  src/controllers/management-controllers/contract-agreement-controller.ts
  src/controllers/management-controllers/contract-defintion-controller.ts
  src/controllers/management-controllers/contract-negotiation-controller.ts
  src/controllers/management-controllers/dataplane-controller.ts
  src/controllers/management-controllers/edr-controller.ts
  src/controllers/management-controllers/management-base-controller.ts
  src/controllers/management-controllers/policy-defintion-controller.ts
  src/controllers/management-controllers/secret-controller.ts
  src/controllers/management-controllers/transfer-process-controller.ts
  src/entities/asset.ts
  src/entities/index.ts
  src/index.ts
  tests/controllers/management-tests/assets.test.ts
  tests/controllers/management-tests/catalog.test.ts
  tests/controllers/management-tests/contract-agreements.test.ts
  tests/controllers/management-tests/contract-definitions.test.ts
  tests/controllers/management-tests/contract-negotiations.test.ts
  tests/controllers/management-tests/dataplanes.test.ts
  tests/controllers/management-tests/edrs.test.ts
  tests/controllers/management-tests/policy-definitions.test.ts
  tests/controllers/management-tests/secrets.test.ts
  tests/controllers/management-tests/transfer-processes.test.ts
  tests/management-api-version.test.ts
Due: prettier --write, eslint --fix

fix: tests v2
  jest.config.ts
  src/controllers/management-controllers/contract-defintion-controller.ts
  src/controllers/management-controllers/secret-controller.ts
  src/controllers/management-controllers/transfer-process-controller.ts
  src/entities/transfer-process.ts
  tests/controllers/management-tests/assets.test.ts
  tests/controllers/management-tests/contract-definitions.test.ts
  tests/controllers/management-tests/contract-negotiations.test.ts
  tests/controllers/management-tests/secrets.test.ts
  tests/controllers/management-tests/transfer-processes.test.ts
Due: prettier --write, eslint --fix

feat: assets v4beta
  src/client.ts
  src/context.ts
  src/controllers/federated-catalog-controller.ts
  src/controllers/management-controllers/asset-controller.ts
  src/controllers/management-controllers/contract-agreement-controller.ts
  src/controllers/management-controllers/contract-defintion-controller.ts
  src/controllers/management-controllers/contract-negotiation-controller.ts
  src/controllers/management-controllers/edr-controller.ts
  src/controllers/management-controllers/management-base-controller.ts
  src/controllers/management-controllers/policy-defintion-controller.ts
  src/controllers/management-controllers/transfer-process-controller.ts
  src/entities/asset.ts
  src/entities/index.ts
  src/entities/jsonld/contexts/managmentV2.json
  src/entities/jsonld/custom-loader.ts
  tests/controllers/management-tests/assets.test.ts
  tests/management-api-version.test.ts
Due: prettier --write, eslint --fix

fix: types
  src/controllers/identity-controllers/participant-controllers/participant-dids-controller.ts
  tests/controllers/federated-catalog.test.ts
  tests/controllers/identity-tests/dids.test.ts
  tests/controllers/management-tests/catalog.test.ts
  tests/controllers/management-tests/contract-negotiations.test.ts
  tests/management-api-version.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

fix: add management api version to context
  src/client.ts
  src/controllers/management-controllers/asset-controller.ts
  src/controllers/management-controllers/management-base-controller.ts
Due: prettier --write, eslint --fix

fix: asset get 1 test
  tests/controllers/management-tests/assets.test.ts
Due: prettier --write, eslint --fix

fix: limit jest workers
  jest.config.ts
Due: prettier --write, eslint --fix

fix: remove double testing for api versions
  .yarnrc.yml
  jest.config.ts
  package.json
  src/client.ts
  src/context.ts
  src/controllers/management-controllers/management-base-controller.ts
  src/entities/asset.ts
  src/entities/index.ts
  src/entities/jsonld/contexts/managementV2.json
  src/entities/jsonld/custom-loader.ts
  tests/controllers/management-tests/assets.test.ts
  tests/controllers/management-tests/catalog.test.ts
  tests/management-api-version.test.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

Add CODEOWNERS for EDC ECA team
  .github/CODEOWNERS
Due: none

Add CODEOWNERS for EDC ECA team (#572)
  .github/CODEOWNERS
Due: none

Set maxWorkers to 1 in Jest configuration
  jest.config.ts
Due: prettier --write, eslint --fix

chore: put default QuerySpec in a constant
  src/constants.ts
  src/controllers/federated-catalog-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-dids-controller.ts
  src/controllers/management-controllers/asset-controller.ts
  src/controllers/management-controllers/contract-agreement-controller.ts
  src/controllers/management-controllers/contract-defintion-controller.ts
  src/controllers/management-controllers/contract-negotiation-controller.ts
  src/controllers/management-controllers/edr-controller.ts
  src/controllers/management-controllers/policy-defintion-controller.ts
  src/controllers/management-controllers/transfer-process-controller.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: remove package.json packageManager change
  package.json
Due: prettier --write

chore: increase timeout of the tests
  jest.config.ts
Due: prettier --write, eslint --fix

chore: update tests to handle stop and start correctly
  tests/controllers/identity-tests/dids.test.ts
  tests/controllers/identity-tests/keypairs.test.ts
  tests/controllers/identity-tests/participant.test.ts
  tests/controllers/identity-tests/participants.test.ts
  tests/controllers/identity-tests/verifiableCredential.test.ts
  tests/controllers/management-tests/assets.test.ts
  tests/controllers/management-tests/edrs.test.ts
  tests/controllers/management-tests/secrets.test.ts
  tests/controllers/presentation-tests/presentation.test.ts
  tests/prism-container.ts
Due: prettier --write, eslint --fix

fix: correct tests by changing RYUK on CI
  .github/workflows/test.yml
Due: none

chore: update the way nock mocks are used
  tests/inner.test.ts
  tests/management-api-version.test.ts
Due: prettier --write, eslint --fix

chore: respond to comments on PR
  src/controllers/management-controllers/asset-controller.ts
  src/controllers/management-controllers/management-base-controller.ts
  src/entities/asset.ts
  src/entities/context.ts
  src/entities/jsonld/contexts/management-v2.json
  src/entities/jsonld/custom-loader.ts
  tests/controllers/management-tests/assets.test.ts
  tests/management-api-version.test.ts
Due: prettier --write, eslint --fix

chore: removed RYUK_DISABLED
  .github/workflows/test.yml
Due: none

chore: remove unnecessary changes
  .yarnrc.yml
  src/controllers/management-controllers/asset-controller.ts
  src/controllers/management-controllers/management-base-controller.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: rename file for tets
  src/controllers/management-controllers/asset-controller.ts
  tests/controllers/management-tests/assets-versioning.test.ts
Due: prettier --write, eslint --fix

feat: assets v4beta (#569)
  jest.config.ts
  src/client.ts
  src/constants.ts
  src/context.ts
  src/controllers/federated-catalog-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-dids-controller.ts
  src/controllers/management-controllers/asset-controller.ts
  src/controllers/management-controllers/contract-agreement-controller.ts
  src/controllers/management-controllers/contract-defintion-controller.ts
  src/controllers/management-controllers/contract-negotiation-controller.ts
  src/controllers/management-controllers/edr-controller.ts
  src/controllers/management-controllers/management-base-controller.ts
  src/controllers/management-controllers/policy-defintion-controller.ts
  src/controllers/management-controllers/transfer-process-controller.ts
  src/entities/asset.ts
  src/entities/context.ts
  src/entities/index.ts
  src/entities/jsonld/contexts/management-v2.json
  src/entities/jsonld/custom-loader.ts
  tests/controllers/federated-catalog.test.ts
  tests/controllers/identity-tests/dids.test.ts
  tests/controllers/identity-tests/keypairs.test.ts
  tests/controllers/identity-tests/participant.test.ts
  tests/controllers/identity-tests/participants.test.ts
  tests/controllers/identity-tests/verifiableCredential.test.ts
  tests/controllers/management-tests/assets-versioning.test.ts
  tests/controllers/management-tests/assets.test.ts
  tests/controllers/management-tests/catalog.test.ts
  tests/controllers/management-tests/contract-negotiations.test.ts
  tests/controllers/management-tests/edrs.test.ts
  tests/controllers/management-tests/secrets.test.ts
  tests/controllers/presentation-tests/presentation.test.ts
  tests/inner.test.ts
  tests/prism-container.ts
  tests/test-utils.ts
Due: prettier --write, eslint --fix

fix configuration
  conf/consumer-connector.config/configuration.properties
  conf/provider-connector.config/configuration.properties
Due: none

feat: support v4 for policy definition
  conf/consumer-connector.config/configuration.properties
  conf/provider-connector.config/configuration.properties
  connector/gradle/libs.versions.toml
  package-lock.json
  src/controllers/management-controllers/policy-defintion-controller.ts
  src/entities/policy-definition.ts
  tests/controllers/management-tests/policy-definitions.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: update BASE_PATH from v1alpha to v1beta for identity controllers and tests
  src/controllers/identity-controllers/dids-controller.ts
  src/controllers/identity-controllers/keypairs-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-dids-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-keypairs-controller.ts
  src/controllers/identity-controllers/participant-controllers/participant-verifiable-credentials-controller.ts
  src/controllers/identity-controllers/participants-controller.ts
  src/controllers/identity-controllers/verifiable-credentials-controller.ts
  tests/controllers/identity-tests/participants.test.ts
Due: prettier --write, eslint --fix
